# Virtual environment
.venv/

# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.iml

# Other
*.log
*.tmp
*.csv
.python-version
tagged_description.txt
.gradio

